<form [formGroup]="wheelbarrowForm" (ngSubmit)="saveWheelBarrow()">
  <div>
    <label for="wheelbarrow-name">Nom : </label>
    <input id="wheelbarrow-name" formControlName="name">
  </div>
  <div>
    <label for="wheelbarrow-desc">Description: </label>
    <input id="wheelbarrow-desc" formControlName="description">
  </div>
  <div>
    <label for="wheelbarrow-wheelnumber">Nombre de roues: </label>
    <input id="wheelbarrow-wheelnumber" type="number" formControlName="wheelNumber">
  </div>
  <div>
    <label for="wheelbarrow-price">Prix: </label>
    <input id="wheelbarrow-price" type="number" formControlName="price">
  </div>
  <div>
    <label for="wheelbarrow-stock">Quantité: </label>
    <input id="wheelbarrow-stock" type="number" formControlName="stock">
  </div>
  <div><button>Ajouter</button></div>
</form>
